Repository kubernetes/gengo, pull requests merged in 2025-05, with the labels that each got.

#293 parser/test: fix bug in comparison
  v2/parser/parse_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test

#297 Add JSON support to tag args for ExtractFunctionStyleCommentTags
  v2/comments.go
  v2/comments_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved

#306 Added support for omitzero in LookupJSON (v2/parser/tags)
  v2/parser/tags/json.go
  v2/parser/tags/json_test.go
  v2/parser/tags/testdata/tags/file.go
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test
